body {
  background: #1f1d27;
}

.board {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  width: 960px;
  height: 960px;
  margin: 0 auto;
}

.rank {
  display: flex;
  flex: 1;
}

.square {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.piece {
  width: 90%;
  height: 90%;
  object-fit: contain;
  pointer-events: none;
  position: relative;
  z-index: 2;
}

.powerup-spin {
    width: 50px;
    height: 50px;
}

.powered-pawn-gif {
  position: relative;
  z-index: 3;
  width: 90%;
  height: 90%;
  object-fit: contain;
  pointer-events: none;    
  image-rendering: pixelated; 
}

.board-wrapper {
  position: relative;  
  width: 960px;           
  height: 960px;
  margin: 0 auto;
}

.kill-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 1600px;
  z-index: 9999;
  pointer-events: none;
  opacity: 1;
}

.kill-banner img {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
}

.piece-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.ssj-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  height: 130%;
  z-index: 1;
  pointer-events: none;
  image-rendering: pixelated;
}

.board-frame {
  padding: 20px;
  background: repeating-linear-gradient(
  45deg,
  #FFFFFF,
  #FFFFFF 12px,
  #000000 12px,
  #000000 24px
  );
  display: inline-block;
}

.heart-icon {
  width: 20px;
  height: 20px;
  margin-left: 4px;
}

/* Full overlay */
.win-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5000;
}

/* Top image */
.win-img-top {
  position: absolute;
  top: 5%;
  left: 52%;
  transform: translateX(-50%);
  width: 900px; 
  max-width: none;
  animation: fadeIn 0.6s ease-in-out;
  height: auto;            /* keep aspect ratio */
  object-fit: contain;     /* ensures no cropping and no stretching */
  display: block;
  z-index: 5001;
}

/* Bottom image */
.win-img-bottom {
  position: absolute;
  bottom: 3%;             /* closer or farther down */
  left: 52%;
  transform: translateX(-50%);
  width: 900px;
  max-width: none;
  animation: fadeIn 0.6s ease-in-out;
  height: auto;            /* keep aspect ratio */
  object-fit: contain;     /* ensures no cropping and no stretching */
  display: block;
  z-index: 5001;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, 20px) scale(0.9); }
  to   { opacity: 1; transform: translate(-50%, 0) scale(1); }
}

.board-blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4000;     /* Below win overlay (5000) but above board */
  pointer-events: all;
}