body {
  background: #1f1d27;
}

.board {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  width: 960px;
  height: 960px;
  margin: 0 auto;
}

.rank {
  display: flex;
  flex: 1;
}

.square {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.piece {
  width: 90%;
  height: 90%;
  object-fit: contain;
  pointer-events: none;
  position: relative;
  z-index: 2;
}

.powerup-spin {
    width: 100px;
    height: 100px;
}

.powered-pawn-gif {
  position: relative;
  z-index: 3;
  width: 90%;
  height: 90%;
  object-fit: contain;
  pointer-events: none;    
  image-rendering: pixelated; 
}

.board-wrapper {
  position: relative;  
  width: 960px;           
  height: 960px;
  margin: 0 auto;
}

.kill-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 1600px;
  z-index: 9999;
  pointer-events: none;
  opacity: 1;
}

.kill-banner img {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
}

.piece-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.ssj-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  height: 130%;
  z-index: 1; /* BELOW the piece */
  pointer-events: none;
  image-rendering: pixelated;
}

.board-frame {
  padding: 20px; /* thickness of border */
  background: repeating-linear-gradient(
  45deg,
  #FFFFFF,
  #FFFFFF 12px,
  #000000 12px,
  #000000 24px
  );
  display: inline-block;
}

